@import url("./index.css");
/* fonts google */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
/* font-family: 'Montserrat', sans-serif; */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #90989e;
}
/* reset all   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
button:focus {
  outline: 3px solid #baddfd;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}

p {
  color: #000000;
}
/* gird  */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
/* color  */
:root {
  --white: #ffffff;
  --black-1: #90989e;
  --primary: #0d6efd;
}

/* start style here */
/* aside style here  */
aside {
  overflow-y: scroll;
  height: 95vh;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--white);
}
aside {
  width: 30%;
  float: left;
  margin-right: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 8%;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem;
}
/* main style here */
main {
  width: 68%;
  float: left;
}
