header {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 1rem;
  margin-bottom: 1rem;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 1;
}
header h1 {
  color: #7952b3;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}
header h1 a {
  color: #7952b3;
}
header h1 a:hover {
  text-decoration: underline;
  color: var(--primary);
}
